{% extends 'layout.html.twig' %} {% block title %}{{ parent() }} - Inscription {%
endblock %} {% block content %}

<div class="container" style="width: 50%">
   <br /><br />
  <h1 class="text-info">Inscription</h1>
  {{ form(formAuteur) }}
</div>

{% endblock %}